## In this notebook, we will be inspecting data from cancelled subscribers, tidying this data, testing it for automation and later showing our findings.

### First, we will carry out the necessary imports and change the working directory.

In [1]:
import sqlite3    #import SQLite library, which allows interation with SQLite databases
import pandas as pd    #import pandas - a library used for data manipulation
import ast    #imports ast - used for identifying errors within the code  # CHECK THIS HAS BEEN USED
import json
import numpy as np    #import NumPy - used to add useful mathematical functions
import os    #imports os - used to interact with the importating systenm
from datetime import datetime    #imports datetime module allowing better manipulation of dates and times

In [2]:
os.chdir(r'\Users\maxpe\OneDrive\Documents\Codecademy\Cancelled Subscribers Automated Data Ingestion\subscriber-pipeline-starter-kit\dev') #changes the working directory - the 'r' is used to tell Python to treat the backslashes as characters, rather than an escape character
pd.set_option('display.max_colwidth', None) # pandas may cut out information on a dataframe if there are too many characters, this will override that.

### Below, we will establish a connection to the database, and then run a query to find what tables we will be working with.

In [3]:
con = sqlite3.connect('cademycode.db') #this connects to cademycode.db
cur = con.cursor() #this creates a cursor object - which will allow us to manipulate the data with Python
#the below query creates an empty list, as the loop iterates through the database, each time it finds a table, it will add it to the list, and then print it out, allowing us to see what tables are in the database
table_list = []
for row in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'"):
    table_list.append(row[0])
print(table_list)

['cademycode_students', 'cademycode_courses', 'cademycode_student_jobs', 'cademycode_cleaned', 'cademycode_cleaned.db']

### Now we know the tables, we can save these as Python variables to enable maniuplation

In [4]:
# the next 3 queries takes all the rows from the tables in the table_list output, and loads them into dataframes using pandas.
students = pd.read_sql_query("SELECT * FROM cademycode_students", con)
courses = pd.read_sql_query("SELECT * FROM cademycode_courses", con)
student_jobs = pd.read_sql_query("SELECT * FROM cademycode_student_jobs", con)

# these print statement show the number of rows of data within each dataframe
print('students:', len(students))
print('courses:', len(courses))
print('student_jobs:', len(student_jobs))

students: 5000
courses: 10
student_jobs: 13

### We now have each table as a dataframe, it is time to inspect these tables, and look for data anomolies.

In [5]:
# We will start with the students table, first, we will call .head(), this will show the first 5 rows of the data, allowing us to get a sense of the table.
students.head()

,uuid,name,dob,sex,contact_info,job_id,num_course_taken,current_career_path_id,time_spent_hrs
0,1,Annabelle Avery,1943-07-03,F,"{""mailing_address"": ""303 N Timber Key, Irondale, Wisconsin, 84736"", ""email"": ""annabelle_avery9376@woohoo.com""}",7.0,6.0,1.0,4.99
1,2,Micah Rubio,1991-02-07,M,"{""mailing_address"": ""767 Crescent Fair, Shoals, Indiana, 37439"", ""email"": ""rubio6772@hmail.com""}",7.0,5.0,8.0,4.4
2,3,Hosea Dale,1989-12-07,M,"{""mailing_address"": ""P.O. Box 41269, St. Bonaventure, Virginia, 83637"", ""email"": ""hosea_dale8084@coldmail.com""}",7.0,8.0,8.0,6.74
3,4,Mariann Kirk,1988-07-31,F,"{""mailing_address"": ""517 SE Wintergreen Isle, Lane, Arkansas, 82242"", ""email"": ""kirk4005@hmail.com""}",6.0,7.0,9.0,12.31
4,5,Lucio Alexander,1963-08-31,M,"{""mailing_address"": ""18 Cinder Cliff, Doyles borough, Rhode Island, 73737"", ""email"": ""alexander9810@hmail.com""}",7.0,14.0,3.0,5.64

In [6]:
students.info()
# calling .info() will give us details of the column names, the count and the datatype.
# we can see tables 5,6,7,8 have some missing values.
# we see some datatypes arent correct, dob should be date time, time_spent_hrs, current_career_path_id, num_course_taken and job_id should also be updated to floats / integers
# contact_info also needs breaking up into separate columns for each part of the address and email address.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    5000 non-null   int64
 1   name                    5000 non-null   object
 2   dob                     5000 non-null   object
 3   sex                     5000 non-null   object
 4   contact_info            5000 non-null   object
 5   job_id                  4995 non-null   object
 6   num_course_taken        4749 non-null   object
 7   current_career_path_id  4529 non-null   object
 8   time_spent_hrs          4529 non-null   object
dtypes: int64(1), object(8)
memory usage: 351.7+ KB

In [7]:
# this selects the 'dob' column from students, and converts this to a data time format with pandas
students['dob'] = pd.to_datetime(students['dob'])  # Convert dob to datetime

# This creates an 'age' column, and assigns the students age by acquiring the current date.
# After current date is acquired, it finds the days passed since the students dob and divides this by 365, to find the year.
students['age'] = (datetime.now() - students['dob']).dt.days // 365

# call .head() to confirm the new age column
students.head()

,uuid,name,dob,sex,contact_info,job_id,num_course_taken,current_career_path_id,time_spent_hrs,age
0,1,Annabelle Avery,1943-07-03,F,"{""mailing_address"": ""303 N Timber Key, Irondale, Wisconsin, 84736"", ""email"": ""annabelle_avery9376@woohoo.com""}",7.0,6.0,1.0,4.99,81
1,2,Micah Rubio,1991-02-07,M,"{""mailing_address"": ""767 Crescent Fair, Shoals, Indiana, 37439"", ""email"": ""rubio6772@hmail.com""}",7.0,5.0,8.0,4.4,33
2,3,Hosea Dale,1989-12-07,M,"{""mailing_address"": ""P.O. Box 41269, St. Bonaventure, Virginia, 83637"", ""email"": ""hosea_dale8084@coldmail.com""}",7.0,8.0,8.0,6.74,34
3,4,Mariann Kirk,1988-07-31,F,"{""mailing_address"": ""517 SE Wintergreen Isle, Lane, Arkansas, 82242"", ""email"": ""kirk4005@hmail.com""}",6.0,7.0,9.0,12.31,36
4,5,Lucio Alexander,1963-08-31,M,"{""mailing_address"": ""18 Cinder Cliff, Doyles borough, Rhode Island, 73737"", ""email"": ""alexander9810@hmail.com""}",7.0,14.0,3.0,5.64,61

In [8]:
# We will remove contact_info, and replace it with columns 'street' 'city' 'state' 'post_code' and 'email'
# The data is stored as JSON, so we use the json module and convert the JSON into a dictionary, allowing us to work with it

def parse_contact_info(info):
    # This converts the JSON string to a Python dictionary
    parsed_info = json.loads(info)  
    mailing_address = parsed_info['mailing_address']
    
    # This will split the key 'mailing_address' into 4 variables, using the comma as a separator
    address_parts = mailing_address.split(', ')
    if len(address_parts) == 4:
        street = address_parts[0]
        city = address_parts[1]
        state = address_parts[2]
        post_code = address_parts[3]

    # The email key does not need separating so it is easier to work with
    email = parsed_info['email']
    
    return pd.Series([street, city, state, post_code, email])

students[['street', 'city', 'state', 'post_code', 'email']] = students['contact_info'].apply(parse_contact_info)

# finally, we remove the contact_info column
students.drop(columns=['contact_info'], inplace=True)

In [9]:
# checking the new fields have been added
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    5000 non-null   int64
 1   name                    5000 non-null   object
 2   dob                     5000 non-null   datetime64[ns]
 3   sex                     5000 non-null   object
 4   job_id                  4995 non-null   object
 5   num_course_taken        4749 non-null   object
 6   current_career_path_id  4529 non-null   object
 7   time_spent_hrs          4529 non-null   object
 8   age                     5000 non-null   int64
 9   street                  5000 non-null   object
 10  city                    5000 non-null   object
 11  state                   5000 non-null   object
 12  post_code               5000 non-null   object
 13  email                   5000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 547.0+ KB

In [10]:
# Now, we change the data types of certain columns to floats
students['job_id'] = students['job_id'].astype(float)
students['num_course_taken'] = students['num_course_taken'].astype(float)
students['current_career_path_id'] = students['current_career_path_id'].astype(float)
students['time_spent_hrs'] = students['time_spent_hrs'].astype(float)

In [11]:
# Checking data types have updated
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    5000 non-null   int64
 1   name                    5000 non-null   object
 2   dob                     5000 non-null   datetime64[ns]
 3   sex                     5000 non-null   object
 4   job_id                  4995 non-null   float64
 5   num_course_taken        4749 non-null   float64
 6   current_career_path_id  4529 non-null   float64
 7   time_spent_hrs          4529 non-null   float64
 8   age                     5000 non-null   int64
 9   street                  5000 non-null   object
 10  city                    5000 non-null   object
 11  state                   5000 non-null   object
 12  post_code               5000 non-null   object
 13  email                   5000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 547.0+ KB

In [12]:
# Checking for duplicates; all fields return false, indicating no duplicated data
students.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [13]:
# We will now look into the missing values in job_id
missing_job_id = students[students['job_id'].isnull()]
missing_job_id

,uuid,name,dob,sex,job_id,num_course_taken,current_career_path_id,time_spent_hrs,age,street,city,state,post_code,email
162,163,Glen Riley,2002-08-22,M,NaN,8.0,3.0,5.70,22,P.O. Box 37267,Cornlea village,Tennessee,19192,glen_riley4484@hmail.com
757,758,Mercedez Vorberg,2002-03-25,F,NaN,15.0,4.0,4.14,22,284 Cedar Seventh,Virden village,Washington,60489,mercedez6297@woohoo.com
854,855,Kurt Ho,2002-05-29,M,NaN,0.0,8.0,23.72,22,P.O. Box 27254,Olin,New Hampshire,60067,ho6107@inlook.com
1029,1030,Penny Gaines,2002-03-01,N,NaN,15.0,4.0,16.25,22,138 Misty Vale,Stockton borough,West Virginia,53630,gaines2897@hmail.com
1542,1543,Frederick Reilly,2002-11-13,M,NaN,7.0,9.0,21.32,21,P.O. Box 40769,Quakervillage,Maryland,96218,frederick_reilly6971@woohoo.com

In [14]:
# There are no obvious correlations as to why these are missing, due to only 5 rows from 1,000 being missing,
# We will delete the missing values, as this should not impact our dataset.
students = students.dropna(subset=['job_id'])
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4995 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    4995 non-null   int64
 1   name                    4995 non-null   object
 2   dob                     4995 non-null   datetime64[ns]
 3   sex                     4995 non-null   object
 4   job_id                  4995 non-null   float64
 5   num_course_taken        4744 non-null   float64
 6   current_career_path_id  4524 non-null   float64
 7   time_spent_hrs          4524 non-null   float64
 8   age                     4995 non-null   int64
 9   street                  4995 non-null   object
 10  city                    4995 non-null   object
 11  state                   4995 non-null   object
 12  post_code               4995 non-null   object
 13  email                   4995 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 585.4+ KB

In [15]:
# This will show the first 50 records where num_course_taken is null
missing_num_course_taken = students[students['num_course_taken'].isnull()]
missing_num_course_taken.head(50)

,uuid,name,dob,sex,job_id,num_course_taken,current_career_path_id,time_spent_hrs,age,street,city,state,post_code,email
25,26,Doug Browning,1970-06-08,M,7.0,NaN,5.0,1.92,54,P.O. Box 15845,Devine,Florida,23097,doug7761@inlook.com
26,27,Damon Schrauwen,1953-10-31,M,4.0,NaN,10.0,3.73,71,P.O. Box 84659,Maben,Georgia,66137,damon9864@woohoo.com
51,52,Alisa Neil,1977-05-28,F,5.0,NaN,8.0,22.86,47,16 View Annex,Mosses,North Dakota,25748,alisa9616@inlook.com
70,71,Chauncey Hooper,1962-04-07,M,3.0,NaN,3.0,3.97,62,955 Dewy Flat,Slaughterville,South Carolina,22167,chauncey6352@woohoo.com
80,81,Ellyn van Heest,1984-06-28,F,3.0,NaN,10.0,12.39,40,872 Cider Glade,Chicken,Delaware,42689,ellyn_vanheest8375@hmail.com
96,97,Moises Krekel,2004-06-15,M,8.0,NaN,NaN,NaN,20,455 Silent Smith,Radium Springs,North Carolina,29278,moises_krekel5984@woohoo.com
139,140,Charlie Semvoort,2004-03-06,N,8.0,NaN,5.0,5.76,20,76 Dewy Quail,Whitesburg,South Carolina,24297,charlie8186@inlook.com
149,150,Lindsey Mcclain,1972-11-30,N,6.0,NaN,9.0,21.79,51,751 Robin Highlands,Hurlock,Tennessee,33406,lindsey_mcclain8692@woohoo.com
157,158,Ching Rijkensz,1988-02-17,N,3.0,NaN,7.0,2.36,36,471 Timber Arbor,Oaks,Texas,84192,ching_rijkensz6414@hmail.com
202,203,Bettie Torres,1973-06-05,N,6.0,NaN,9.0,6.04,51,457 SW Valley,New Madison village,South Carolina,78280,bettie_torres6037@hmail.com
209,210,Clyde Benskoop,1989-06-23,M,7.0,NaN,7.0,0.23,35,P.O. Box 41382,Kerr,Missouri,39252,clyde2794@coldmail.com
224,225,Bettina Fry,1971-01-12,F,2.0,NaN,2.0,16.85,53,646 Foggy First Passage,Moose Wilson Road,Missouri,93096,fry3064@hmail.com
231,232,Cecil Blankenship,2001-11-18,M,4.0,NaN,4.0,19.54,22,P.O. Box 45893,Whitsett,North Carolina,04591,cecil_blankenship495@woohoo.com
252,253,Lenore Ferdinandus,1988-11-30,N,1.0,NaN,2.0,9.35,35,878 Grove Plaza,Wanblee,Minnesota,33309,lenore_ferdinandus3024@hmail.com
258,259,Shizuko Singh,1973-04-02,F,5.0,NaN,5.0,2.49,51,73 E River Canyon,Burr village,Alabama,70293,shizuko9784@hmail.com
281,282,Christinia Meyers,1973-03-06,F,4.0,NaN,8.0,4.13,51,84 Gentle Rabbit Street,Corinne,Wyoming,91649,meyers190@hmail.com
286,287,Madlyn Castro,1944-08-26,N,4.0,NaN,NaN,NaN,80,P.O. Box 26418,Rock River,Louisiana,35101,castro932@coldmail.com
296,297,Archie Komen,1973-03-27,M,6.0,NaN,9.0,17.13,51,629 Ford Vista,Grand Acres,Utah,87165,archie9532@woohoo.com
318,319,Hilde Mclean,1992-01-27,F,3.0,NaN,4.0,6.42,32,74 Shady Circle Passage,Tradewinds,Alabama,72597,mclean2890@inlook.com
332,333,Lauralee Crane,1989-11-27,F,5.0,NaN,8.0,15.43,34,33 Dewy Narrow,Glen Ellyn village,Mississippi,17831,crane1282@hmail.com
333,334,Elida Bruce,1962-03-03,F,5.0,NaN,6.0,20.90,62,526 Bright Fifth Junction,Long Creek village,Connecticut,34368,elida_bruce6057@inlook.com
343,344,Titus Gaines,1989-01-30,M,6.0,NaN,6.0,13.14,35,611 Lazy Canyon,Murtaugh,South Dakota,20744,gaines3561@hmail.com
354,355,Vanda Goff,1958-07-08,F,1.0,NaN,2.0,4.22,66,P.O. Box 56537,Parker Strip,Arkansas,89002,goff3042@hmail.com
389,390,Kathryne Matse,1959-07-08,F,6.0,NaN,3.0,9.19,65,120 Seventh Ramp,Ten Broeck,Michigan,51422,kathryne_matse6292@inlook.com
401,402,Scotty Wiley,1975-03-16,M,7.0,NaN,9.0,7.75,49,201 Easy Wintergreen,New Holland village,Illinois,79676,wiley664@hmail.com
414,415,Sherie Roberts,1942-12-29,F,2.0,NaN,5.0,7.33,81,472 Quaking Haven,Trowbridge Park,Oregon,41315,sherie_roberts8692@hmail.com
440,441,Neomi Hayes,1944-11-07,F,6.0,NaN,2.0,6.49,80,300 Fallen Cliff,Ochlocknee,Alabama,45483,hayes9297@coldmail.com
490,491,Adah Keiman,1942-03-27,F,6.0,NaN,1.0,5.55,82,818 Quaking Fillmore Crest,Slab,Louisiana,03493,adah5388@coldmail.com
491,492,Shayne Hardin,1945-09-05,M,4.0,NaN,4.0,13.23,79,P.O. Box 27566,Babson Park,Delaware,83958,shayne8259@inlook.com
499,500,Wilda van Linden,1967-11-02,F,2.0,NaN,9.0,14.00,57,P.O. Box 67661,La Fayette village,Kansas,32164,wilda702@hmail.com
501,502,Jamila Golden,1959-10-08,F,1.0,NaN,2.0,5.73,65,P.O. Box 28525,Lone Pine,Connecticut,28474,jamila7038@hmail.com
513,514,Eula Lindsay,1960-06-01,N,3.0,NaN,2.0,17.00,64,392 Barn Mount,Prague,Michigan,60870,eula_lindsay549@woohoo.com
520,521,Will Heuvel,1973-06-18,M,6.0,NaN,3.0,5.60,51,384 N Squaw,Sangrey,Georgia,93046,will7224@woohoo.com
529,530,Harvey Myers,1948-11-19,M,5.0,NaN,7.0,23.61,76,483 Rocky Annex,Blackstone,Minnesota,69879,harvey1051@woohoo.com
543,544,Sherwood van Welij,1946-12-28,M,2.0,NaN,NaN,NaN,77,393 Rustic Barn Edge,Richview village,New York,86800,sherwood8992@coldmail.com
549,550,Scottie van Imbyze,1985-10-17,M,4.0,NaN,5.0,11.15,39,468 Crystal Washington,Masury,New Mexico,83294,scottie_vanimbyze2936@inlook.com
588,589,Lenny Arellano,1965-02-03,M,6.0,NaN,9.0,27.51,59,P.O. Box 26008,Stedman,Maine,35061,arellano8558@inlook.com
601,602,Florencio de Bruin,1977-04-17,M,7.0,NaN,5.0,17.38,47,164 NW Causeway,Byromville,New York,58262,florencio1371@inlook.com
602,603,Kellie Golden,1974-09-20,F,1.0,NaN,9.0,14.66,50,951 Stream Vale,Quitman,Iowa,04931,kellie_golden3127@hmail.com
604,605,Chantay James,1950-12-21,F,3.0,NaN,6.0,12.61,73,662 Jagged Inlet,Elberon,South Carolina,93348,chantay_james2476@hmail.com
662,663,Beau Murphy,1992-11-19,N,7.0,NaN,1.0,0.14,31,943 N Lake Crossing,Port Graham,Connecticut,12795,beau_murphy3561@inlook.com
668,669,Tana Harrington,1994-05-30,F,1.0,NaN,2.0,7.63,30,602 Misty Mount,Piney Point Village,South Carolina,60882,tana4262@woohoo.com
689,690,Cherrie Hunt,1990-01-26,F,1.0,NaN,2.0,1.08,34,160 Amber Circle,North Edwards,Maryland,59786,cherrie2492@woohoo.com
725,726,Jesus Washington,1967-07-24,M,4.0,NaN,8.0,7.06,57,P.O. Box 91643,Park River,Idaho,78952,jesus_washington5197@inlook.com
786,787,Adaline Higgins,1973-09-10,F,1.0,NaN,10.0,14.64,51,446 W Panda,Lake Purdy,North Dakota,04346,higgins8490@hmail.com
808,809,Maurice Gay,2002-02-26,M,8.0,NaN,5.0,11.50,22,P.O. Box 79645,Gwinner,Oregon,04915,gay5705@hmail.com
901,902,Treasa Verrips,1956-03-13,F,7.0,NaN,7.0,15.63,68,88 Bluff Drive,Shamrock Lakes,Ohio,56503,treasa8720@hmail.com
923,924,Kaitlin Schutter,1985-02-26,F,1.0,NaN,9.0,7.52,39,795 Noble Jetty,Andalusia village,Kentucky,51238,kaitlin_schutter5451@inlook.com
933,934,Garfield Charles,1961-03-02,M,6.0,NaN,7.0,15.68,63,246 Jagged Parade,Flying Hills,South Carolina,35159,garfield8997@woohoo.com
937,938,Cary Conijn,1977-10-03,N,6.0,NaN,9.0,4.71,47,24 SW Cloud,Costa Mesa,Pennsylvania,85586,cary815@woohoo.com

In [16]:
# After investigating the missing data for num_course_taken, we can not see any correlations with the other columns as to why this is
# Due to us having no access to a data team, or data entry team, we cannot investigate how the data is being added
# Due to the data being approximately 5% of the set, we will remove this to allow for more accurate analysis on the remaining set
students = students.dropna(subset=['num_course_taken'])
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4744 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    4744 non-null   int64
 1   name                    4744 non-null   object
 2   dob                     4744 non-null   datetime64[ns]
 3   sex                     4744 non-null   object
 4   job_id                  4744 non-null   float64
 5   num_course_taken        4744 non-null   float64
 6   current_career_path_id  4293 non-null   float64
 7   time_spent_hrs          4293 non-null   float64
 8   age                     4744 non-null   int64
 9   street                  4744 non-null   object
 10  city                    4744 non-null   object
 11  state                   4744 non-null   object
 12  post_code               4744 non-null   object
 13  email                   4744 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 555.9+ KB

In [17]:
# This will show the first 50 records where current_career_path_id is null
missing_current_career_path_id = students[students['current_career_path_id'].isnull()]
missing_current_career_path_id.head(50)

,uuid,name,dob,sex,job_id,num_course_taken,current_career_path_id,time_spent_hrs,age,street,city,state,post_code,email
15,16,Norene Dalton,1976-04-30,F,6.0,0.0,NaN,NaN,48,130 Wishing Essex,Branch,Ohio,13616,norene_dalton9509@hmail.com
19,20,Sofia van Steenbergen,1990-02-21,N,7.0,13.0,NaN,NaN,34,634 Clear Barn Dell,Beaman,Georgia,33288,vansteenbergen8482@inlook.com
30,31,Christoper Warner,1989-12-28,M,2.0,5.0,NaN,NaN,34,556 Stony Highlands,Drain,Illinois,01973,warner5906@coldmail.com
49,50,Antony Horne,1996-05-29,M,3.0,2.0,NaN,NaN,28,P.O. Box 78685,Lenox,Texas,15516,antony577@coldmail.com
54,55,Omar Bunk,1955-11-08,M,3.0,14.0,NaN,NaN,69,445 Dale Hollow,Vermont village,South Carolina,28329,omar1245@coldmail.com
55,56,Lincoln Hartman,1950-07-15,M,5.0,8.0,NaN,NaN,74,P.O. Box 22581,Southmont borough,West Virginia,03735,hartman6763@hmail.com
62,63,Zana Willems,1953-11-23,F,2.0,2.0,NaN,NaN,70,319 Iron Treasure,Thermalito,Virginia,15241,willems4043@woohoo.com
64,65,Jasmine Vos,1942-08-24,F,5.0,13.0,NaN,NaN,82,P.O. Box 56722,La Veta,Vermont,72685,vos8677@coldmail.com
71,72,Genevie Huerta,1954-11-15,F,1.0,8.0,NaN,NaN,70,401 Quaking Smith,McDermitt,Montana,96073,genevie_huerta5604@inlook.com
88,89,Scott de Boef,1976-01-21,M,2.0,11.0,NaN,NaN,48,P.O. Box 47591,Pemberton borough,Pennsylvania,13428,scott_deboef9061@coldmail.com
120,121,Odilia Pael,1957-01-27,F,1.0,12.0,NaN,NaN,67,131 Silver Beacon Woods,Atkins,Vermont,18597,pael2238@woohoo.com
143,144,Marilou de Jong,2004-10-31,F,8.0,13.0,NaN,NaN,20,141 SE Corner,Chapmanville,New Jersey,07630,dejong3230@inlook.com
145,146,Hilton Guzman,1992-07-20,N,6.0,7.0,NaN,NaN,32,P.O. Box 32682,Fall River village,Hawaii,35048,hilton9033@hmail.com
159,160,Sachiko van der Bilt,1969-06-20,F,3.0,4.0,NaN,NaN,55,219 Broad Club Ramp,McRoberts,Alaska,16251,sachiko_vanderbilt1816@hmail.com
177,178,Burl Edwards,1968-10-15,M,3.0,1.0,NaN,NaN,56,869 River Freeway,Coyville,Nebraska,49861,edwards851@hmail.com
208,209,Alan Roman,1988-08-12,M,6.0,1.0,NaN,NaN,36,358 Maple Way,Lake Purdy,Arkansas,51336,roman6240@inlook.com
214,215,Cristobal Zeeman,1961-05-04,M,7.0,15.0,NaN,NaN,63,128 Fallen Panda Key,Scottsboro,Idaho,41506,zeeman3742@inlook.com
232,233,Rafael de Rek,1987-07-31,M,2.0,12.0,NaN,NaN,37,413 Tawny Route,Gosnell,Ohio,52323,rafael_derek3619@hmail.com
248,249,Christin Cordova,1991-10-27,N,7.0,13.0,NaN,NaN,33,404 Pleasant Island,Sycamore,Wyoming,62144,christin_cordova5844@hmail.com
271,272,Melisa Baldwin,1945-03-10,F,6.0,13.0,NaN,NaN,79,128 Colonial Parade,Grubbs,New Jersey,84053,melisa_baldwin3025@inlook.com
278,279,Hyacinth Mejia,1996-04-28,F,7.0,6.0,NaN,NaN,28,693 Clear Summit Dam,Irondequoit,Oklahoma,25590,hyacinth2994@hmail.com
319,320,Mose Barlow,1950-08-21,M,4.0,1.0,NaN,NaN,74,14 Honey Land,San Luis Obispo,West Virginia,69370,barlow1485@hmail.com
321,322,Mikaela Goes,1976-08-07,F,6.0,3.0,NaN,NaN,48,523 View Mews,Blanding,Colorado,53072,mikaela7146@hmail.com
330,331,Ching Glenn,1943-09-30,N,3.0,3.0,NaN,NaN,81,P.O. Box 47384,Luana,Kentucky,50425,glenn3572@hmail.com
353,354,Loraine Mentz,1976-02-17,F,6.0,12.0,NaN,NaN,48,607 Dewy Park Jetty,Masury,South Dakota,66332,mentz5518@inlook.com
382,383,Lonny Hensley,1994-11-14,M,2.0,15.0,NaN,NaN,29,880 Green Corner,Wasco,New Hampshire,23235,hensley6113@hmail.com
388,389,Lavone Lawrence,1954-06-09,F,2.0,9.0,NaN,NaN,70,752 Golden Parade,Lake Placid village,Maine,05041,lawrence4637@inlook.com
400,401,Tracee Versteegh,1983-12-24,F,5.0,9.0,NaN,NaN,40,332 Old Shore,Fortescue,Kentucky,96640,tracee_versteegh9596@woohoo.com
410,411,Harrison Schmitt,1996-01-17,M,6.0,5.0,NaN,NaN,28,813 Butterfly Meadow,Douglass,Wisconsin,72159,harrison_schmitt17@woohoo.com
488,489,Raleigh van Malsem,1961-11-12,M,7.0,2.0,NaN,NaN,63,88 Tawny Sixth,Woodsfield village,Nevada,25643,vanmalsem1452@hmail.com
494,495,Eloy Mann,1942-04-07,N,2.0,2.0,NaN,NaN,82,791 Broad Acres,Menominee,New Mexico,25479,mann7868@hmail.com
506,507,Lekisha Kerkhof,1979-05-01,N,6.0,5.0,NaN,NaN,45,350 Cliff Arcade,Glen Ellyn village,Wyoming,97257,lekisha_kerkhof5248@woohoo.com
515,516,Florinda Groeneveld,1992-06-29,F,1.0,15.0,NaN,NaN,32,434 SW Manor,Downing,Indiana,04340,florinda1102@hmail.com
521,522,Fidelia Bieren,1984-06-24,F,6.0,8.0,NaN,NaN,40,138 Heather Nectar Station,Peru,New Hampshire,35010,bieren2010@woohoo.com
530,531,Nicholas Crosby,1971-01-20,M,6.0,13.0,NaN,NaN,53,817 Broad Elk,Roseburg North,Texas,28765,nicholas8155@woohoo.com
537,538,Delana Kaiser,1962-02-01,F,2.0,8.0,NaN,NaN,62,769 First Terrace,Weissport borough,South Carolina,80532,delana_kaiser4464@coldmail.com
540,541,Tristan van der Greff,1952-09-11,M,4.0,13.0,NaN,NaN,72,P.O. Box 72903,Gabbs,Tennessee,85285,tristan1307@coldmail.com
551,552,Donte van der Woude,1963-06-05,M,2.0,9.0,NaN,NaN,61,71 Cliff Vista,Fairmontvillage,Colorado,63311,donte7211@coldmail.com
552,553,Steve Arisdr,1943-03-13,M,4.0,11.0,NaN,NaN,81,641 Fallen Island Way,Welton,New York,08124,arisdr149@inlook.com
567,568,Gaylord Watts,1996-05-27,M,5.0,1.0,NaN,NaN,28,589 Easy Butterfly Quay,Larose,Georgia,65381,watts9140@coldmail.com
570,571,Leanna Cortez,1944-03-01,F,6.0,1.0,NaN,NaN,80,P.O. Box 82835,Hornell,North Dakota,89463,leanna_cortez6187@inlook.com
575,576,Corrina van der Ham,1979-01-05,F,5.0,5.0,NaN,NaN,45,481 Golden Course Stravenue,Chickasaw village,Iowa,47201,corrina_vanderham1086@hmail.com
584,585,Ouida Dalton,1989-05-25,F,3.0,7.0,NaN,NaN,35,33 Broad Rest Square,Lowry Crossing,Oregon,19453,ouida1276@hmail.com
587,588,Anjelica Soto,1967-11-28,F,2.0,4.0,NaN,NaN,56,985 Squaw Walk,Rogue River,Arkansas,28295,anjelica5533@woohoo.com
600,601,Candyce Kane,1973-01-11,N,6.0,1.0,NaN,NaN,51,958 Broad Forest Causeway,Troutdale,Arizona,99876,kane3383@woohoo.com
622,623,Garret Cooll,1966-08-04,M,4.0,1.0,NaN,NaN,58,955 Quiet Spur,Cottonport,Tennessee,05356,garret_cooll6585@hmail.com
624,625,Augustus Cummings,1942-05-02,M,2.0,0.0,NaN,NaN,82,599 Amber Willow,Makaha,Indiana,00504,cummings2093@woohoo.com
640,641,Slyvia Fitzpatrick,1975-09-13,N,6.0,5.0,NaN,NaN,49,35 First Isle,Weeping Water,Virginia,43595,fitzpatrick8024@woohoo.com
661,662,Brigitte Gould,1989-01-25,F,4.0,10.0,NaN,NaN,35,244 Blue Station,Stillwater borough,Vermont,33103,brigitte7660@hmail.com
670,671,Marlys Cervantes,1962-01-17,F,5.0,11.0,NaN,NaN,62,94 Cliff Junction,Jenkin borough,Nevada,05407,marlys7217@inlook.com

In [18]:
# Looking at the data above, it is obvious to see that when a student is not enrolled on a current career path, there are no respective hours spent.
# To maintain the dataset, we will fill the NaN's with a 0 for both columns as we have already deleted approximately 5% of data.
students['current_career_path_id'].fillna(0, inplace=True)
students['time_spent_hrs'].fillna(0, inplace=True)
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4744 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    4744 non-null   int64
 1   name                    4744 non-null   object
 2   dob                     4744 non-null   datetime64[ns]
 3   sex                     4744 non-null   object
 4   job_id                  4744 non-null   float64
 5   num_course_taken        4744 non-null   float64
 6   current_career_path_id  4744 non-null   float64
 7   time_spent_hrs          4744 non-null   float64
 8   age                     4744 non-null   int64
 9   street                  4744 non-null   object
 10  city                    4744 non-null   object
 11  state                   4744 non-null   object
 12  post_code               4744 non-null   object
 13  email                   4744 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 555.9+ KB

In [19]:
# And now, the courses dataframe:
# Due to the students who werent on career path, which we replaced NaN's with 0's, we will create a career path of 'Not Applicable'
# This placeholder will help the data integrity during the merge
not_applicable = {
    'career_path_id': 0,
    'career_path_name': 'Not Applicable',
    'hours_to_complete': 0
}
not_applicable_df = pd.DataFrame([not_applicable])  # This converts the above dictionary into a dataframe which allows pd.concat to merge courses with not_applicable
courses = pd.concat([courses, not_applicable_df], ignore_index=True)
courses.head(50)

    career_path_id           career_path_name  hours_to_complete
0                1             data scientist                 20
1                2              data engineer                 20
2                3               data analyst                 12
3                4       software engineering                 25
4                5           backend engineer                 18
5                6          frontend engineer                 20
6                7              iOS developer                 27
7                8          android developer                 27
8                9  machine learning engineer                 35
9               10             ux/ui designer                 15
10               0             Not Applicable                  0

In [20]:
courses.info()
# Again, everything looks as it should below.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   career_path_id     11 non-null     int64
 1   career_path_name   11 non-null     object
 2   hours_to_complete  11 non-null     int64
dtypes: int64(2), object(1)
memory usage: 396.0+ bytes

In [21]:
# Finally, the student_jobs dataframe:
student_jobs.head(50)

    job_id        job_category  avg_salary
0        1           analytics       86000
1        2            engineer      101000
2        3  software developer      110000
3        4            creative       66000
4        5  financial services      135000
5        6           education       61000
6        7                  HR       80000
7        8             student       10000
8        9          healthcare      120000
9        0               other       80000
10       3  software developer      110000
11       4            creative       66000
12       5  financial services      135000

In [22]:
student_jobs = student_jobs.drop_duplicates()
# There are a couple of duplicates which we have cleared up

In [23]:
student_jobs.info()
# Below, these look fine, which cleans up the 3 dataframes!

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_id        10 non-null     int64
 1   job_category  10 non-null     object
 2   avg_salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes

In [24]:
students.info()
courses.info()
student_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4744 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    4744 non-null   int64
 1   name                    4744 non-null   object
 2   dob                     4744 non-null   datetime64[ns]
 3   sex                     4744 non-null   object
 4   job_id                  4744 non-null   float64
 5   num_course_taken        4744 non-null   float64
 6   current_career_path_id  4744 non-null   float64
 7   time_spent_hrs          4744 non-null   float64
 8   age                     4744 non-null   int64
 9   street                  4744 non-null   object
 10  city                    4744 non-null   object
 11  state                   4744 non-null   object
 12  post_code               4744 non-null   object
 13  email                   4744 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 555.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   career_path_id     11 non-null     int64
 1   career_path_name   11 non-null     object
 2   hours_to_complete  11 non-null     int64
dtypes: int64(2), object(1)
memory usage: 396.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_id        10 non-null     int64
 1   job_category  10 non-null     object
 2   avg_salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes

### We now have the dataframes cleaned, we will now merge them into one, export into a database and then create a CSV

In [25]:
# First, we will merge students with student_jobs
# We will join all tables on job_id, as this field is present in each table
# We will use left joins to keep flexibility and ensure all records are kept
# On the final merge, we use left_on and right_on to link the student_jobs_merged and courses on current_career_path_id and career_path_id
final_df = students.merge(courses, left_on='current_career_path_id', right_on='career_path_id', how='left')
final_df = final_df.merge(student_jobs, on='job_id', how='left')
final_df.head(50)

,uuid,name,dob,sex,job_id,num_course_taken,current_career_path_id,time_spent_hrs,age,street,city,state,post_code,email,career_path_id,career_path_name,hours_to_complete,job_category,avg_salary
0,1,Annabelle Avery,1943-07-03,F,7.0,6.0,1.0,4.99,81,303 N Timber Key,Irondale,Wisconsin,84736,annabelle_avery9376@woohoo.com,1,data scientist,20,HR,80000
1,2,Micah Rubio,1991-02-07,M,7.0,5.0,8.0,4.40,33,767 Crescent Fair,Shoals,Indiana,37439,rubio6772@hmail.com,8,android developer,27,HR,80000
2,3,Hosea Dale,1989-12-07,M,7.0,8.0,8.0,6.74,34,P.O. Box 41269,St. Bonaventure,Virginia,83637,hosea_dale8084@coldmail.com,8,android developer,27,HR,80000
3,4,Mariann Kirk,1988-07-31,F,6.0,7.0,9.0,12.31,36,517 SE Wintergreen Isle,Lane,Arkansas,82242,kirk4005@hmail.com,9,machine learning engineer,35,education,61000
4,5,Lucio Alexander,1963-08-31,M,7.0,14.0,3.0,5.64,61,18 Cinder Cliff,Doyles borough,Rhode Island,73737,alexander9810@hmail.com,3,data analyst,12,HR,80000
5,6,Shavonda Mcmahon,1989-10-15,F,6.0,10.0,3.0,10.12,35,P.O. Box 81591,Tarpon Springs,Montana,37057,shavonda5863@coldmail.com,3,data analyst,12,education,61000
6,7,Terrell Bleijenberg,1959-05-05,M,2.0,9.0,8.0,24.17,65,P.O. Box 53471,Oskaloosa,Virginia,85274,bleijenberg188@hmail.com,8,android developer,27,engineer,101000
7,8,Stanford Allan,1997-11-22,M,3.0,3.0,1.0,19.54,26,255 Spring Avenue,Point Baker,Texas,15796,stanford_allan8055@coldmail.com,1,data scientist,20,software developer,110000
8,9,Tricia Delacruz,1961-10-20,F,1.0,6.0,9.0,1.75,63,997 Dewy Apple,Lake Lindsey,Washington,78266,tricia_delacruz6622@woohoo.com,9,machine learning engineer,35,analytics,86000
9,10,Regenia van der Helm,1999-02-23,N,5.0,7.0,6.0,13.55,25,220 Middle Ridge,Falcon Heights,New Mexico,46971,regenia6908@inlook.com,6,frontend engineer,20,financial services,135000
10,11,Shonda Stephanin,1998-10-24,F,7.0,5.0,10.0,12.61,26,818 Clear Street,Rockwood,Maine,14372,shonda_stephanin4439@coldmail.com,10,ux/ui designer,15,HR,80000
11,12,Marcus Mcfarland,1977-05-29,M,7.0,3.0,6.0,9.12,47,718 Embers Lane,Dale,South Carolina,19186,mcfarland1396@woohoo.com,6,frontend engineer,20,HR,80000
12,13,Edwardo Boonzayer,1975-05-23,N,2.0,15.0,5.0,6.09,49,147 SW Plain,Solana Beach,Kansas,01794,edwardo8281@inlook.com,5,backend engineer,18,engineer,101000
13,14,Robena Padilla,1969-01-15,F,3.0,5.0,9.0,15.92,55,P.O. Box 73926,McLemoresville,Maryland,57372,robena_padilla1477@hmail.com,9,machine learning engineer,35,software developer,110000
14,15,Tamala Sears,1942-06-01,F,7.0,13.0,1.0,4.64,82,868 Hazy Crossing,Bethania,Washington,08205,tamala4408@woohoo.com,1,data scientist,20,HR,80000
15,16,Norene Dalton,1976-04-30,F,6.0,0.0,0.0,0.00,48,130 Wishing Essex,Branch,Ohio,13616,norene_dalton9509@hmail.com,0,Not Applicable,0,education,61000
16,17,Maris Benskoop,1965-08-10,F,5.0,5.0,4.0,12.08,59,P.O. Box 93831,South Mountain,Washington,02481,maris5817@hmail.com,4,software engineering,25,financial services,135000
17,18,Yolande van Hees,1978-12-09,F,7.0,13.0,9.0,34.44,45,460 Dusty Kennedy Cove,McBaine,New Jersey,41490,vanhees6330@woohoo.com,9,machine learning engineer,35,HR,80000
18,19,Dominic Werner,1973-09-29,M,5.0,14.0,8.0,22.84,51,P.O. Box 70430,Laramie,Nevada,56963,werner3867@coldmail.com,8,android developer,27,financial services,135000
19,20,Sofia van Steenbergen,1990-02-21,N,7.0,13.0,0.0,0.00,34,634 Clear Barn Dell,Beaman,Georgia,33288,vansteenbergen8482@inlook.com,0,Not Applicable,0,HR,80000
20,21,Toney Villarreal,1993-06-04,M,4.0,4.0,3.0,4.30,31,P.O. Box 22286,Leisure Village,South Carolina,22326,villarreal2146@woohoo.com,3,data analyst,12,creative,66000
21,22,Clayton Lamb,1963-02-02,M,2.0,8.0,6.0,2.86,61,601 Old Oak Village,Binger,Connecticut,29228,lamb2933@woohoo.com,6,frontend engineer,20,engineer,101000
22,23,Isabel van Erven,1973-06-11,F,6.0,9.0,5.0,7.02,51,863 Seventh Boulevard,Marianna,Indiana,01611,isabel9601@coldmail.com,5,backend engineer,18,education,61000
23,24,Eartha Weeks,1954-12-05,F,7.0,2.0,1.0,9.86,69,192 Cedar Vale,Hersey village,Illinois,68184,eartha_weeks7248@hmail.com,1,data scientist,20,HR,80000
24,25,Eloy Limmink,1998-01-07,M,3.0,10.0,3.0,10.24,26,103 Sunny Rapid Parade,Marshfield,Delaware,13122,eloy_limmink6109@coldmail.com,3,data analyst,12,software developer,110000
25,28,Lexie Rowland,1942-08-30,F,4.0,14.0,3.0,8.74,82,33 High Cider Skyway,Inglewood,Mississippi,22019,rowland6740@hmail.com,3,data analyst,12,creative,66000
26,29,Edgardo Chavez,1946-02-12,M,7.0,12.0,5.0,12.98,78,758 Green Butterfly Gateway,Crescentvillage,Maine,81750,edgardo9341@woohoo.com,5,backend engineer,18,HR,80000
27,30,Bettyann Klarenbos,1950-11-05,F,1.0,9.0,9.0,21.45,74,838 Horse Dam,Westmorland,Alabama,31955,bettyann_klarenbos7887@coldmail.com,9,machine learning engineer,35,analytics,86000
28,31,Christoper Warner,1989-12-28,M,2.0,5.0,0.0,0.00,34,556 Stony Highlands,Drain,Illinois,01973,warner5906@coldmail.com,0,Not Applicable,0,engineer,101000
29,32,Antwan Villegas,1976-06-11,M,7.0,3.0,3.0,3.39,48,P.O. Box 75909,Closter borough,Montana,06529,antwan_villegas3074@woohoo.com,3,data analyst,12,HR,80000
30,33,Madelene Poole,1978-11-25,F,6.0,13.0,7.0,6.93,45,797 Horse Terrace,Bonsall,Vermont,93588,madelene9077@inlook.com,7,iOS developer,27,education,61000
31,34,Dion Donaldson,1947-02-21,M,3.0,15.0,4.0,9.69,77,P.O. Box 99080,Horse Cave,Idaho,68425,dion_donaldson674@inlook.com,4,software engineering,25,software developer,110000
32,35,Gerry Moss,1993-03-01,F,3.0,5.0,3.0,3.91,31,74 Broad Gate Hollow,Crystal Lakes,New York,38056,moss3407@inlook.com,3,data analyst,12,software developer,110000
33,36,Natalie Goff,1978-01-17,F,6.0,0.0,2.0,10.65,46,961 Squaw Crest,Bonner Springs,Nebraska,76506,natalie2200@inlook.com,2,data engineer,20,education,61000
34,37,Ellis Leblanc,1998-10-19,M,2.0,8.0,9.0,22.62,26,185 Cloud Promenade,Montreal,Georgia,62218,leblanc1665@coldmail.com,9,machine learning engineer,35,engineer,101000
35,38,Cristobal Kastelein,1981-04-29,M,4.0,10.0,10.0,9.31,43,328 NE Third Acres,North Madison,Colorado,24053,cristobal6144@woohoo.com,10,ux/ui designer,15,creative,66000
36,39,Miki Darvill,1996-03-15,F,6.0,15.0,5.0,18.10,28,481 Silent Harbor,Topsfield,Montana,60773,darvill7852@inlook.com,5,backend engineer,18,education,61000
37,40,Gregory Battle,1951-10-29,M,2.0,8.0,6.0,12.33,73,P.O. Box 40991,North Edwards,Vermont,60792,battle774@inlook.com,6,frontend engineer,20,engineer,101000
38,41,Latisha Wermeskerken,1964-06-01,F,1.0,6.0,9.0,29.85,60,924 Iron Turnpike,Mullin,California,34730,latisha_wermeskerken7346@inlook.com,9,machine learning engineer,35,analytics,86000
39,42,Lynwood Adenrock,1952-03-30,N,7.0,12.0,7.0,10.01,72,P.O. Box 68680,Minnetonka,Texas,54117,adenrock1157@inlook.com,7,iOS developer,27,HR,80000
40,43,Lula Sanchez,1973-07-16,F,4.0,15.0,6.0,12.69,51,P.O. Box 13628,Moclips,Arizona,43700,lula_sanchez1712@inlook.com,6,frontend engineer,20,creative,66000
41,44,Cori Castillo,2000-11-13,F,1.0,14.0,8.0,16.60,23,357 Iron Anchor Row,Sunny Isles Beach,Texas,67082,cori_castillo5326@woohoo.com,8,android developer,27,analytics,86000
42,45,Refugio van Deijl,1982-10-14,M,7.0,14.0,5.0,6.87,42,314 Indian Willow Causeway,Marion Center,Maine,17322,vandeijl2146@hmail.com,5,backend engineer,18,HR,80000
43,46,Janett Fleming,1973-10-25,F,2.0,6.0,3.0,12.11,51,91 Velvet Road,South Venice,Virginia,40051,janett1893@hmail.com,3,data analyst,12,engineer,101000
44,47,Malcom van der Voort,1990-02-08,M,4.0,12.0,6.0,16.88,34,507 Fifth Dam,Medora,Arkansas,01123,malcom_vandervoort4818@hmail.com,6,frontend engineer,20,creative,66000
45,48,Malcolm van Selm,1949-10-05,M,2.0,7.0,3.0,6.62,75,P.O. Box 37496,Boulder Flats,Arkansas,01797,vanselm1682@inlook.com,3,data analyst,12,engineer,101000
46,49,Adan Claes,1989-08-18,M,2.0,12.0,6.0,11.08,35,232 Blue Oak,Ropesville,North Carolina,94231,adan_claes2609@hmail.com,6,frontend engineer,20,engineer,101000
47,50,Antony Horne,1996-05-29,M,3.0,2.0,0.0,0.00,28,P.O. Box 78685,Lenox,Texas,15516,antony577@coldmail.com,0,Not Applicable,0,software developer,110000
48,51,Valorie Rijnberk,1986-09-06,N,1.0,13.0,1.0,15.83,38,421 Iron End Motorway,Moline Acres,Florida,75485,valorie9955@woohoo.com,1,data scientist,20,analytics,86000
49,53,Ted Groot,1950-06-06,N,2.0,11.0,4.0,19.73,74,P.O. Box 14285,Haworth borough,Oklahoma,66701,ted_groot7898@woohoo.com,4,software engineering,25,engineer,101000

In [26]:
final_df.info()
# As we can see, the final dataframe has the same non-null count as before!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4744 entries, 0 to 4743
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    4744 non-null   int64
 1   name                    4744 non-null   object
 2   dob                     4744 non-null   datetime64[ns]
 3   sex                     4744 non-null   object
 4   job_id                  4744 non-null   float64
 5   num_course_taken        4744 non-null   float64
 6   current_career_path_id  4744 non-null   float64
 7   time_spent_hrs          4744 non-null   float64
 8   age                     4744 non-null   int64
 9   street                  4744 non-null   object
 10  city                    4744 non-null   object
 11  state                   4744 non-null   object
 12  post_code               4744 non-null   object
 13  email                   4744 non-null   object
 14  career_path_id          4744 non-null   int64
 15  career_path_name        4744 non-null   object
 16  hours_to_complete       4744 non-null   int64
 17  job_category            4744 non-null   object
 18  avg_salary              4744 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(9)
memory usage: 704.3+ KB

In [27]:
# Now to create the cleansed database and CSV!
final_df.to_sql('cademycode_cleaned.db', con, if_exists='replace', index=False)
final_df.to_csv('cademycode_cleaned.csv', index=False)